.password{
    .container{
        color: white;
        text-align: center;
        label{
            background-color: rgba(0, 0, 0, 0.781);
            width: 80%;
            margin: auto;
            padding: 20px 0;
            border-radius: 15px;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            input{
                width: 70%;
                margin: auto;
            }
            button{
                background-color: var(--clr-pumpkin);
                color: white;
                width: 30%;
                margin: auto;
                cursor: pointer;
            }
        }
    }
}